{# Permet d'étendre du template de base #}
{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}{% endblock %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
{% endblock %}

{% block beers_list %}
    {% for beer in beers %}
        <li>{{ beer.title }}</li>
        <small>Published at : <b>{{ beer.publishedAt | date('Y-m-d')}}</b></small> 

        {% if beer.countryId %}
            {% for slug, countryId in countries | filter( countryId => countryId.getId == beer.getCountryId.id )  %}                 
                </br><a href="{{ path('show_country', { 'slug' : slug }) }}">
                {{beer.countryId.name }}
                </a>
            {% endfor %}   
        {% endif %}
    {% endfor %}

{% endblock %}

{% block footer %}All copyright reserved 2019{% endblock %}
