{# Permet d'étendre du template de base #}
{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}{% endblock %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block name %}{{title}}{% endblock %}

{% block beers_list %}
<table>
    <tr>
        <td>Name</td>
        <td>Weight</td>
        <td>Beers</td>
    </tr>
    {% for client in clients %}

        <tr>           
            <td>{{ client.name }}</td>



            <td>{{ client.getWeight() }}</td>



            <td>
                <ul>
                    {% for beer in client.getBeer %}
                        <li>{{ beer.title }}</li>
                    {% endfor %}
                </ul>
            </td>        
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}