<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">The Simple Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('bar') }}" class="nav-link {{ app.request.get('_route') == 'bar' ? 'active' }}">Home <span class="sr-only">(current)</span></a>
            </li>
                {% for slug, categorie in categories %}

                    <li class="nav-item"><a href="{{ path('categorie' , { 'slug' : slug } ) }}" class="nav-link {{ app.request.get('_route') == categorie.title ? 'active' }}">{{ categorie.title |capitalize}}</a></li>

                {% endfor %}
                <li class="nav-item"><a href="{{ path('verygood') }}" class="nav-link {{ app.request.get('_route') == 'verygood' ? 'active' }}">Very good</a></a></li>
                <li class="nav-item"><a href="{{ path('bestbeer') }}" class="nav-link {{ app.request.get('_route') == 'bestbeer' ? 'active' }}">Best Beer</a></a></li>
        </ul>
    </div>
</nav>
